<html>
<head>
    <meta content="text/html; charset=Windows-1251" http-equiv="content-type">

    <style type="text/css">
        p {
            margin-left:15px; /* Отступ парагрофа слева*/
            text-indent: 1.5em; /* Отступ первой строки */
        }
    </style>
    <title>Users</title>

</head>
<body>
<h1>Admin page</h1>
<table class="table table-md table-bordered">
    <thead>
    <tr style="text-align: center; vertical-align: middle" >
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col" >Link</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center; vertical-align: middle" th:each="users2 : ${users}">
        <td th:text="${users2.username}"/>
        <td th:text="${users2.surname}"/>
        <td th:text="${users2.email}"/>
        <td>
            <a th:href="@{/admin/{id}(id = ${users2.getId()})}" th:text="${users2.getUsername()}">user</a>
        <td/>
    </tr>
    </tbody>

</table>
<a th:href="@{/admin/new}">___Create new user</a>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="___exit"/>
</form>
</body>
</html>