<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username"> __Enter name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="surname"> __Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="email"> __Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password"> __Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="__Create"/>

</form>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="__exit"/>
</form>
</body>
</html>