
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show users</title>

</head>
<body>
<p th:text = "${user.getId()}">__VALUE</p>
<p th:text = "${user.getUsername()}">__VALUE</p>
<p th:text = "${user.getSurname()}">__VALUE</p>
<p th:text = "${user.getEmail()}">__VALUE</p>
<p th:text = "${user.getPassword()}">__VALUE</p>
<a th:href="@{/admin/{id}/edit(id = ${user.getId()})}">__Edit</a>
<form th:method="DELETE" th:action="@{/admin/{id}(id = ${user.getId()})}">
    <input type="submit" value="__Delete"/>
</form>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="__exit"/>
</form>
</body>
</html>
</html>